
body {
	color:#222;
	background:
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
		linear-gradient(135deg, transparent 33%, rgba(0,0,0,0.1) 33%, rgba(0,0,0,0.1) 66%, transparent 66% ),
		linear-gradient(45deg, transparent 33%, rgba(0,0,0,0.1) 33%, rgba(0,0,0,0.1) 66%, transparent 66% ),
		linear-gradient(top, rgba(255,255,255,0.15), rgba(175,175,175,0.25)),
		linear-gradient(left, rgb(175,175,175), rgb(255,255,255), rgb(255,255,255), rgb(175,175,175));
	background:
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
		-moz-linear-gradient(135deg, transparent 33%, rgba(0,0,0,0.1) 33%, rgba(0,0,0,0.1) 66%, transparent 66% ),
		-moz-linear-gradient(45deg, transparent 33%, rgba(0,0,0,0.1) 33%, rgba(0,0,0,0.1) 66%, transparent 66% ),
		-moz-linear-gradient(top, rgba(255,255,255,0.15), rgba(175,175,175,0.25)),
		-moz-linear-gradient(left, rgb(200,200,200), rgb(255,255,255), rgb(255,255,255), rgb(200,200,200));
	background:
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
		-webkit-linear-gradient(-45deg, transparent 33%, rgba(0,0,0,0.1) 33%, rgba(0,0,0,0.1) 66%, transparent 66% ),
		-webkit-linear-gradient(45deg, transparent 33%, rgba(0,0,0,0.1) 33%, rgba(0,0,0,0.1) 66%, transparent 66% ),
		-webkit-linear-gradient(top, rgba(255,255,255,0.15), rgba(175,175,175,0.25)),
		-webkit-linear-gradient(left, rgb(175,175,175), rgb(255,255,255), rgb(255,255,255), rgb(175,175,175));
	background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%, 100% 100%, 100% 100%, 100% 100%;
	background-attachment: fixed;
}
a, td.listtitle a:hover, .stats a:hover {
	color:rgb(88,137,174);
}
a:hover, td.footer a:hover, td.listtitle a, .stats a, .listhighlight a:hover, .list2highlight a:hover, .listwraphighlight a:hover, .listwrap2highlight a:hover
 {
	color:rgb(26,72,105);
}
input[type=button]:hover, input[type=submit]:hover, input[type=checkbox]:hover, td.listtitle input[type=button]:hover, td.listtitle input[type=submit]:hover, td.listtitle input[type=checkbox]:hover {
	background:rgba(175,175,175,.75);
	color:#222;
}
table.main {
	border:1px solid transparent;
}
td.header {
	background:
		linear-gradient(135deg, transparent 33%, rgba(175,175,175,.1) 33%, rgba(175,175,175,.1) 66%, transparent 66% ),
		linear-gradient(45deg, transparent 33%, rgba(175,175,175,.1) 33%, rgba(175,175,175,.1) 66%, transparent 66% ),
		linear-gradient(top, rgba(255,255,255,.25), rgba(175,175,175,.25)),
		linear-gradient(left, rgba(175,175,175,.75), rgba(255,255,255,.75), rgba(255,255,255,.75), rgba(175,175,175,.75));
	background:
		-moz-linear-gradient(135deg, transparent 33%, rgba(175,175,175,.1) 33%, rgba(175,175,175,.1) 66%, transparent 66% ),
		-moz-linear-gradient(45deg, transparent 33%, rgba(175,175,175,.1) 33%, rgba(175,175,175,.1) 66%, transparent 66% ),
		-moz-linear-gradient(top, rgba(255,255,255,.25), rgba(175,175,175,.25)),
		-moz-linear-gradient(left, rgba(175,175,175,.75), rgba(255,255,255,.75), rgba(255,255,255,.75), rgba(175,175,175,.75));
	background:
		-webkit-linear-gradient(135deg, transparent 33%, rgba(175,175,175,0.1) 33%, rgba(175,175,175,0.1) 66%, transparent 66%),
		-webkit-linear-gradient(45deg, transparent 33%, rgba(175,175,175,0.1) 33%, rgba(175,175,175,0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255,255,255,0.25), rgba(175,175,175,0.25)),
		-webkit-linear-gradient(left, rgba(175,175,175,.75), rgba(255,255,255,.75), rgba(255,255,255,.75), rgba(175,175,175,.75));
	background-size: 240px 120px, 190px 190px, 100% 100%, 100% 100%;
	border-bottom:1px solid transparent;
}
td.menu, td.footer {
	background:-webkit-linear-gradient(left, rgb(175,175,175), rgb(250,250,250) 1%, rgb(250,250,250) 99%, rgb(175,175,175));
	background:-moz-linear-gradient(left, rgb(175,175,175), rgb(250,250,250) 1%, rgb(250,250,250) 99%, rgb(175,175,175));
	background:linear-gradient(left, rgb(175,175,175), rgb(250,250,250) 1%, rgb(250,250,250) 99%, rgb(175,175,175));
	color:#333;
}
td.menu a {
	color:#333;
}
td.menu a:hover {
	text-shadow:0px 0px 10px #aaa;
	color:#222;
}
td.listtitle, .stats, td.list, td.listwrap, td.list2, td.listwrap2 {
	box-shadow:inset 0px 0px 1px 0px #000;
	-moz-box-shadow:inset 0px 0px 1px 0px #000;
	-webkit-box-shadow:inset 0px 0px 1px 0px #000;
}
td.listtitle input:hover, td.listtitle textarea:hover, td.listtitle select:hover,td.footer, td.footer a,  td.stats, .stats, .stats a .white, .tree {
	color:#222;
}
td.listtitle, .stats {
	text-shadow:0px 0px 0px rgba(0,0,0,0);
	background:rgb(255,255,255);
	color:#333;
}
td.list, td.listwrap {
	background:rgba(0,0,0,.02);
}
td.list2, td.listwrap2 {
	background:rgb(255,255,255);
}
.listhighlight, .list2highlight, .listwraphighlight, .listwrap2highlight {
	box-shadow:inset 0px 0px 1px 0px #000;
	-moz-box-shadow:inset 0px 0px 1px 0px #000;
	-webkit-box-shadow:inset 0px 0px 1px 0px #000;
	background:rgba(0,0,0,.05);
}
progress, meter {
	color:rgb(175,175,175);
}
progress::-webkit-progress-value, meter::-webkit-meter-even-less-good-value {
	background-image:
		-webkit-linear-gradient(-45deg, transparent 33%, rgba(175,175,175,0.1) 33%, rgba(175,175,175,0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255,255,255,0.25), rgba(175,175,175,0.25)),
		-webkit-linear-gradient(left, rgb(255,255,255), rgb(175,175,175));
	background-size: 35px 20px, 100% 100%, 100% 100%;
}
meter::-webkit-meter-optimum-value {
	background-image:
		-webkit-linear-gradient(-45deg, transparent 33%, rgba(175,175,175,0.1) 33%, rgba(175,175,175,0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255,255,255,0.25), rgba(175,175,175,0.25)),
		-webkit-linear-gradient(left, rgb(255,255,255), rgb(175,175,175));
	background-size: 35px 20px, 100% 100%, 100% 100%;
}
meter::-webkit-meter-suboptimum-value {
	background-image:
		-webkit-linear-gradient(-45deg, transparent 33%, rgba(175,175,175,0.1) 33%, rgba(175,175,175,0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255,255,255,0.25), rgba(175,175,175,0.25)),
		-webkit-linear-gradient(left, rgb(255,255,255), rgb(175,175,175));
	background-size: 35px 20px, 100% 100%, 100% 100%;
}
progress::-moz-progress-bar, :-moz-meter-sub-sub-optimum::-moz-meter-bar {
	background-image:
		-moz-linear-gradient(135deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66% ),
		-moz-linear-gradient(top, rgba(255,255,255,0.25), rgba(175,175,175,0.25)),
		-moz-linear-gradient(left, rgb(255,255,255), rgb(175,175,175));
	background-size:35px 20px, 100% 100%, 100% 100%; 
}
:-moz-meter-optimum::-moz-meter-bar {
	background-image:
		-moz-linear-gradient(135deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66% ),
		-moz-linear-gradient(top, rgba(255,255,255,0.25), rgba(175,175,175,0.25)),
		-moz-linear-gradient(left, rgb(255,255,255), rgb(175,175,175));
	background-size:35px 20px, 100% 100%, 100% 100%; 
}
:-moz-meter-sub-optimum::-moz-meter-bar {
	background-image:
		-moz-linear-gradient(135deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66% ),
		linear-gradient(top, rgba(255,255,255,0.25), rgba(175,175,175,0.25)),
		-moz-linear-gradient(left, rgb(255,255,255), rgb(175,175,175));
	background-size: 35px 20px, 100% 100%, 100% 100%;
}
